body, html {
  font-family: Arial, Helvetica, sans-serif
}

button:focus {
  outline: 0;
}

#App {
  text-align: center;
}

#title {
  font-size: 3em;
  margin: 4% 0% 0% 0%
}

#subtitle {
  font-size: 1em;
  margin: 0% 0% 2% 1%
}

#game {
  display: flex;
  justify-content: center;
}

#scores {
  width: 33%;
}

.spacer {
  width: 2%;
  display: flex;
  justify-content: center;
}

#line {
  width: 2px;
  background-color: #5e5e5e;
  margin: 10px 0px 10px 0px;
}

#timer {
  width: 33%;
}

#goal {
  color: #727272;
}

#target {
  font-size: 1.5em;
  margin: 0% 0.5% 0% 0.5%;
}

#setGoal {
  display: flex;
  justify-content: center;
  margin: 1%;
}

#goalInput {
  border-radius: 5px;
  text-align: center;
}

#display {
  font-size: 5em;
  margin: 1%;
}

#bigRedStart {
  border: 0px;
  border-radius: 50%;
  background-color: red;
  color: cornsilk;
  font-size: x-large;
  width: 8em;
  height: 8em;
  margin: 1%;
  box-shadow: 0px 0px 10px 3px #868686
}

#bigRedStop {
  border: 0px;
  border-radius: 50%;
  background-color: red;
  color: cornsilk;
  font-size: x-large;
  width: 8em;
  height: 8em;
  margin: 1%;
  box-shadow: inset 0 0 20px 3px #a80000;
}
